<!-- window.__PUBLIC_PATH__ points to fonts folder location -->
<script>window.__PUBLIC_PATH__ = '{{ site.baseurl }}/assets/bootstrap-italia/dist/fonts'</script>

<!-- Bootstrap core JS -->
<script src="{{ site.baseurl }}/assets/bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/main.js"></script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '61934f22d13e4d24279a3d0e790384a50c4d82c9';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

<script>
  // init
  window.smartsupp = window.smartsupp || function() { (window.smartsupp.q = window.smartsupp.q || []).push(arguments) };
  if (window.location.href.indexOf("/de/") > -1) {
    smartsupp('language', 'de');
  } else if (window.location.href.indexOf("/it/") > -1) {
    smartsupp('language', 'it');
  } else {
    smartsupp('language', 'en');
  }
</script>
